<div class="add-form-container">
  <div class="header-add">Add New Record</div>
  <form [formGroup]="addNewRecords">
    <div class="row search-field-container-row">
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>Business Application Id</mat-label>
          <input matInput formControlName="businessApplicationId" placeholder="Business Application Id">
        </mat-form-field>
      </div>

      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>Sales Agent First Name</mat-label>
          <input matInput formControlName="salesAgentFirstName" placeholder="Sales Agent First Name">
        </mat-form-field>
      </div>

      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>Sales Agent Last Name</mat-label>
          <input matInput formControlName="salesAgentLastName" placeholder="Sales Agent Last Name">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>Sales Agent Email</mat-label>
          <input matInput formControlName="salesAgentEmail" placeholder="Sales Agent Email">
        </mat-form-field>
      </div>
    </div>
    <div class="row search-field-container-row">
      <div class="col-4">
        <mat-form-field appearance="outline">
          <mat-label>Account Type</mat-label>
          <input matInput formControlName="accountType" placeholder="Account Type">
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field appearance="outline">
          <mat-label>Application Status</mat-label>
          <input matInput formControlName="applicationStatus" placeholder="Application Status">
        </mat-form-field>
      </div>

      <div class="col-4">
        <mat-form-field appearance="outline">
          <mat-label>Business Category</mat-label>
          <input matInput formControlName="businessCategory" placeholder="Business Category">
        </mat-form-field>
      </div>

    </div>
    <div class="row search-field-container-row">
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="createdDate" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="updatedDate" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>

    </div>

    <div class="row search-field-container-row">
      <div class="col-12">
        <div class="col-12 d-flex justify-content-end">
          <button class="btn btn-primary search-btn" (click)="saveRecord()">Save</button>
        </div>
      </div>
    </div>


  </form>
</div>


