.sidenav-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidenav {
  width: 240px;
box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.mat-sidenav-content {
  flex-grow: 1;
}

.no-sidenav .mat-sidenav-content {
  margin-left: 0;
}

