.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

mat-form-field {
  width: 100%;
}


table {
  width: 100%;
}

.dashboard-container {

}

.mat-elevation-z8 {
  box-shadow: none;
}

.search-field-container-row{
  width: 100%;
}
.search-btn{
  margin-top: 10px;
}
